<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars!</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="main">
<div class="jumbotron">
    <h1 class="display-4">Mission to Mars</h1>
    <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape</a>
</div>
<img src={{mars_data[0].Image}}>
<div class="row">
    <div class="container col-md-4">
        <h4>News: {{mars_data[0].News.headline}}</h4>
        <p>{{mars_data[0].News.teaser}}</p>
    </div>
    <div class="container col-md-4">
        <h4>Weather:</h4>
        <p>{{mars_data[0].Weather}}</p>
    </div>
    <div class="container col-md-4">
        {{mars_data[0].Facts|safe}}
    </div>
</div>
<div class="row">
    <div class="container col-md-6 Hemispheres">
        <img src={{mars_data[0].Hemispheres[0].img_url}} style="width: 100%">
        <h3>{{mars_data[0].Hemispheres[0].title}}</h3>
    </div>
    <div class="container col-md-6 Hemispheres">
        <img src={{mars_data[0].Hemispheres[1].img_url}} style="width: 100%">
        <h3>{{mars_data[0].Hemispheres[1].title}}</h3>
    </div>
</div>
<div class="row">
    <div class="container col-md-6 Hemispheres">
        <img src={{mars_data[0].Hemispheres[2].img_url}} style="width: 100%">
        <h3>{{mars_data[0].Hemispheres[2].title}}</h3>
    </div>
    <div class="container col-md-6 Hemispheres">
        <img src={{mars_data[0].Hemispheres[3].img_url}} style="width: 100%">
        <h3>{{mars_data[0].Hemispheres[3].title}}</h3>
    </div>
</div>
</div>
</body>